{% assign default_hero_image = 'images/hero.jpg' | asset_url %}
{% assign hot_tags = page.settings.hot_tags | split: ',' %}

<div class="hero bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-2xl py-8 lg:py-16">
      <h1 class="text-5xl font-bold leading-normal">Baklib 模板开发中心</h1>
      <p class="py-6 text-md">借助Baklib强大的 CMS 内容管理能力和混合 Headless CMS系统设计，实现内容与界面分离的新型网页构建器。借助低代码开发实现网站前端界面的高度定制化。</p>
      <a href="/get-started/introduction" class="btn btn-primary bg-primary">模板介绍</a>
      <a href="/overview" target="_blank" class="btn btn-secondary">模板开发</a>
    </div>
  </div>
</div>

<div class="max-w-7xl mx-auto">

  <div class="diff aspect-[16/9] my-12 lg:my-20">
    <div class="diff-item-1">
      <div class="bg-secondary text-primary-content text-9xl font-black grid place-content-center"> Baklib. </div>
    </div>
    <div class="diff-item-2">
      <div class="bg-primary text-9xl font-black grid place-content-center"> Theme Dev.</div>
    </div>
    <div class="diff-resizer"></div>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 my-12">
    <article class="prose border-r">
      <h1 class="text-secondary">什么是 Baklib 网站模板?</h1>
      <p>
        Baklib 是 Content to Web的典型内容站点构建器，系统内置了 CMS 系统， 以及内容与界面分离的Headless CMS 系统。Baklib中生成的每一个应用站点都是基于模板驱动的，内置了一套开放的前端模板。
      </p>
      <p>
        借助 Baklib强大的后台架构设计，可以满足企业多场景、多渠道、多站点的一站式管理。
      </p>
    </article>
    <article class="prose">
      <h1 class="text-primary">什么是 Baklib 低代码编辑器?</h1>
      <p>
         Baklib 隐藏了复杂的内容管理和后台逻辑，用户只关心前端界面的呈现，且前端代码完全开放，方便用户在线通过 Liquid 语言调用 Baklib API，在线编程，在线调试前端代码，真正实现前端界面自主可控。
      </p>

      <p>
        内容只的模板市场预设了系统公共模板，也可以通过git导入组织自有模板。内置版本管理和主题切换。
      </p>
    </article>
  </div>

</div>

{% schema %}
  {
    "name": "Portal",
    "description": "Ideal for feature-rich portal site",
    "thumb_url": "images/theme/index-portal.png",
    "preview_image_urls": [
      "images/theme/index-portal.png"
    ],
    "sub_page_templates": ["page"],
    "settings": [

      ]
  }
{% endschema %}