{% assign default_hero_image = 'images/hero.jpg' | asset_url %}
{% assign hot_tags = page.settings.hot_tags | split: ',' %}

{% render "header_index" %}

<div class="hero bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-lg py-8 lg:py-16">
      <h1 class="text-5xl font-bold leading-normal">{{ site.name }}</h1>
      <p class="py-6">{{ site.settings.description }}</p>
      <a href="/about" class="btn btn-primary bg-primary">在线查看</a>
      <a href="/s/ebook" target="_blank" class="btn btn-secondary">打印下载</a>
    </div>
  </div>
</div>

{% render "footer" %}

{% schema %}
  {
    "name": "Plan Book ",
    "description": "客户方案书制作工具",
    "thumb_url": "images/theme/index-portal.png",
    "preview_image_urls": [
      "images/theme/index-portal.png"
    ],
    "sub_page_templates": ["page"],
    "settings": [

      ]
  }
{% endschema %}