<turbo-frame id="main-content">
  <article class="">
    <h1 class="text-center mb-2 text-2xl font-bold sm:text-3xl xl:text-4xl">
      {{ page.settings.title }}
    </h1>
    <div class="mt-8 flow-root">
      <div class="overflow-auto">
        <div data-controller="view_images2"
          class="ProseMirror prose sm:prose-base lg:prose-md focus:outline-none dark:prose-invert prose-a:text-blue-600">

          {{ page.settings.content }}
          
        </div>
      </div>
    </div>
  </article>
</turbo-frame>

{% schema %}
    {
    "name": "Page eBook",
    "description": "The Page as a ebook plan section",
    "thumb_url": "images/theme/page-channel.png",
    "preview_image_urls": [
      "images/theme/page-channel.png"
    ],
    "sub_page_templates": ["page"],
    "settings": [
      {
        "id": "tags",
        "type": "tag_picker",
        "multiple": true,
        "label": "t:settings_schema.page.settings.tags.label"
      },
      {
        "id": "icon",
        "type": "image_picker",
        "ratio": "1:1",
        "width": 60,
        "label": "图标"
      },
      {
        "id": "title",
        "type": "text",
        "readonly": true,
        "label": "标题",
        "info": "知识库同步，不可编辑"
      },
      {
        "id": "content",
        "type": "richtext",
        "label": "t:settings_schema.page.settings.content.label",
        "readonly": true,
        "info": "t:settings_schema.page.settings.content.info"
      }
    ]
    }
{% endschema %}