{% set_meta_title 'Starter Pages & Examples' %}
{% set_meta_description 'Baklib是成都探码科技有限公司研发的一款线上基础云服务平台，为下一代数字内容体验云。' %}
{% set_meta_keywords 'Baklib，关于我们' %}

<!-- ========== MAIN CONTENT ========== -->
<div class="max-w-7xl mx-auto">
  <div class="flex flex-col-reverse justify-between gap-6 xl:flex-row">
    <div class="flex flex-col gap-6 ps-6 pt-10">
      <div class="prose max-w-4xl flex-grow">
        <h1>daisyUI 组件</h1>
        <p>55+ 组件</p>
      </div>
      <div
        class="not-prose grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4">
        <a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/accordion">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/accordion.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Accordion"></figure>
          <div class="card-body">
            <h2 class="card-title">Accordion 手风琴</h2>
            <p class="text-xs opacity-60">手风琴用于显示和隐藏内容，但一次只能打开一个项目。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/alert">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/alert.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Alert"></figure>
          <div class="card-body">
            <h2 class="card-title">Alert 警告提示</h2>
            <p class="text-xs opacity-60">警告提示用来提示用户重要的事件消息。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/artboard">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/artboard.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Artboard"></figure>
          <div class="card-body">
            <h2 class="card-title">Artboard 画板</h2>
            <p class="text-xs opacity-60">Artboard 提供了固定尺寸的容器，用于在手机尺寸里显示演示内容。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/avatar">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/avatar.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Avatar"></figure>
          <div class="card-body">
            <h2 class="card-title">Avatar 头像</h2>
            <p class="text-xs opacity-60">头像用于在界面中显示个人或企业的缩略图。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/badge">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/badge.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Badge"></figure>
          <div class="card-body">
            <h2 class="card-title">Badge 徽章</h2>
            <p class="text-xs opacity-60">徽章是用来通知用户特定数据的状态。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/bottom-navigation">
          <figure class="px-4 pt-4"><img loading="lazy"
              src="https://img.daisyui.com/images/components/bottom-navigation.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Bottom navigation">
          </figure>
          <div class="card-body">
            <h2 class="card-title">Bottom navigation 底部导航栏</h2>
            <p class="text-xs opacity-60">底部导航栏允许在主屏幕之间导航。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/breadcrumbs">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/breadcrumbs.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Breadcrumbs"></figure>
          <div class="card-body">
            <h2 class="card-title">Breadcrumbs 面包屑导航</h2>
            <p class="text-xs opacity-60">面包屑导航可以帮助用户导航网站。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/button">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/button.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Button"></figure>
          <div class="card-body">
            <h2 class="card-title">Button 按钮</h2>
            <p class="text-xs opacity-60">按钮可以让用户执行命令或者作出选择。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/card">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/card.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Card"></figure>
          <div class="card-body">
            <h2 class="card-title">Card 卡片</h2>
            <p class="text-xs opacity-60">卡片用于显示易于阅读的显示内容。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/carousel">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/carousel.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Carousel"></figure>
          <div class="card-body">
            <h2 class="card-title">Carousel 轮播</h2>
            <p class="text-xs opacity-60">轮播可以在可滚动区域里显示图像或内容。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/chat">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/chat.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Chat bubble"></figure>
          <div class="card-body">
            <h2 class="card-title">Chat bubble 聊天气泡</h2>
            <p class="text-xs opacity-60">聊天气泡用于显示一行对话及其所有数据，包括作者图像、作者名称、时间等。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/checkbox">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/checkbox.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Checkbox"></figure>
          <div class="card-body">
            <h2 class="card-title">Checkbox 复选框</h2>
            <p class="text-xs opacity-60">复选框用于选择或取消选择值。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/collapse">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/collapse.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Collapse"></figure>
          <div class="card-body">
            <h2 class="card-title">Collapse 折叠面板</h2>
            <p class="text-xs opacity-60">折叠面板用于显示和隐藏内容。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/countdown">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/countdown.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Countdown"></figure>
          <div class="card-body">
            <h2 class="card-title">Countdown 计数</h2>
            <p class="text-xs opacity-60">计数给了你改变数字的过渡效果。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/diff">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/diff.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Diff"></figure>
          <div class="card-body">
            <h2 class="card-title">Diff 对比</h2>
            <p class="text-xs opacity-60">Diff 组件显示两个项目的并排比较。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/divider">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/divider.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Divider"></figure>
          <div class="card-body">
            <h2 class="card-title">Divider 分隔线</h2>
            <p class="text-xs opacity-60">分隔线用于垂直或水平分隔内容。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/drawer">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/drawer.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Drawer"></figure>
          <div class="card-body">
            <h2 class="card-title">Drawer 抽屉</h2>
            <p class="text-xs opacity-60">抽屉是一种可以显示/隐藏页面左侧或右侧的侧边栏的网格布局。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/dropdown">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/dropdown.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Dropdown"></figure>
          <div class="card-body">
            <h2 class="card-title">Dropdown 下拉菜单</h2>
            <p class="text-xs opacity-60">下拉菜单可以在点击按钮时打开菜单或其他元素。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/file-input">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/file-input.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="File Input"></figure>
          <div class="card-body">
            <h2 class="card-title">File Input 文件输入框</h2>
            <p class="text-xs opacity-60">文件输入框是一个用于上传文件的输入框。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/footer">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/footer.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Footer"></figure>
          <div class="card-body">
            <h2 class="card-title">Footer 页脚</h2>
            <p class="text-xs opacity-60">页脚可以包括标志、版权声明和链接到其他网页。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/hero">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/hero.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Hero"></figure>
          <div class="card-body">
            <h2 class="card-title">Hero 故事</h2>
            <p class="text-xs opacity-60">Hero 是显示带有标题和描述的大方框或图像的组件。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/indicator">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/indicator.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Indicator"></figure>
          <div class="card-body">
            <h2 class="card-title">Indicator 标志</h2>
            <p class="text-xs opacity-60">标志用来将元素放置在另一个元素的角落。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/input">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/input.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Text Input"></figure>
          <div class="card-body">
            <h2 class="card-title">文字输入框</h2>
            <p class="text-xs opacity-60">文字输入框是简单的输入框。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/join">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/join.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Join"></figure>
          <div class="card-body">
            <h2 class="card-title">Join 组合</h2>
            <p class="text-xs opacity-60">Join 是用于对多个项目进行分组的容器，它可用于对按钮、输入或任何其他元素进行分组。Join 将边框半径应用于第一个和最后一个项目。Join
              可用于创建一个水平或垂直的项目列表。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/kbd">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/kbd.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Kbd"></figure>
          <div class="card-body">
            <h2 class="card-title">Kbd 键盘</h2>
            <p class="text-xs opacity-60">键盘用于显示键盘快捷键的效果。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/link">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/link.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Link"></figure>
          <div class="card-body">
            <h2 class="card-title">Link 链接</h2>
            <p class="text-xs opacity-60">链接将缺失的下划线样式添加到链接中。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/loading">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/loading.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Loading"></figure>
          <div class="card-body">
            <h2 class="card-title">Loading 加载</h2>
            <p class="text-xs opacity-60">加载会显示动画以指示正在加载某些内容。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/mask">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/mask.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Mask"></figure>
          <div class="card-body">
            <h2 class="card-title">Mask 遮罩</h2>
            <p class="text-xs opacity-60">Mask 将元素的内容修剪成常见的形状。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/menu">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/menu.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Menu"></figure>
          <div class="card-body">
            <h2 class="card-title">Menu 菜单</h2>
            <p class="text-xs opacity-60">菜单用于垂直或水平显示链接列表。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/mockup-browser">
          <figure class="px-4 pt-4"><img loading="lazy"
              src="https://img.daisyui.com/images/components/mockup-browser.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Browser mockup"></figure>
          <div class="card-body">
            <h2 class="card-title">浏览器模型</h2>
            <p class="text-xs opacity-60">浏览器模型展示了一个看起来像浏览器窗口的框。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/mockup-code">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/mockup-code.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Code mockup"></figure>
          <div class="card-body">
            <h2 class="card-title">代码模型</h2>
            <p class="text-xs opacity-60">代码模型用于在看起来像代码编辑器的方框中显示代码块。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/mockup-phone">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/mockup-phone.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Phone mockup"></figure>
          <div class="card-body">
            <h2 class="card-title">手机模型</h2>
            <p class="text-xs opacity-60">手机模型显示了一个像 iPhone 的模型。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/mockup-window">
          <figure class="px-4 pt-4"><img loading="lazy"
              src="https://img.daisyui.com/images/components/mockup-window.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Window mockup"></figure>
          <div class="card-body">
            <h2 class="card-title">视窗模型</h2>
            <p class="text-xs opacity-60">视窗模型展示了一个看起来像操作系统窗口的框。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/modal">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/modal.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Modal"></figure>
          <div class="card-body">
            <h2 class="card-title">Modal 对话框</h2>
            <p class="text-xs opacity-60">对话框用于点击按钮时显示对话框或一个盒子模型。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/navbar">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/navbar.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Navbar"></figure>
          <div class="card-body">
            <h2 class="card-title">Navbar 导航栏</h2>
            <p class="text-xs opacity-60">导航栏用于在页面顶部显示导航栏。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/pagination">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/pagination.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Pagination"></figure>
          <div class="card-body">
            <h2 class="card-title">Pagination 分页</h2>
            <p class="text-xs opacity-60">分页是一组按钮，允许用户在一系列相关内容之间移动。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/progress">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/progress.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Progress"></figure>
          <div class="card-body">
            <h2 class="card-title">Progress 进度条</h2>
            <p class="text-xs opacity-60">进度条可以用来显示任务的进展情况，也可以用来显示时间的流逝。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/radial-progress">
          <figure class="px-4 pt-4"><img loading="lazy"
              src="https://img.daisyui.com/images/components/radial-progress.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Radial progress"></figure>
          <div class="card-body">
            <h2 class="card-title">Radial progress 圆形进度条</h2>
            <p class="text-xs opacity-60">圆形进度条可以用来显示任务的进度，也可以用来显示时间的流逝。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/radio">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/radio.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Radio"></figure>
          <div class="card-body">
            <h2 class="card-title">Radio 单选框</h2>
            <p class="text-xs opacity-60">使用单选框，用户可以从多个选项中选择一个选项。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/range">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/range.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Range slider"></figure>
          <div class="card-body">
            <h2 class="card-title">范围滑块</h2>
            <p class="text-xs opacity-60">范围滑块用于滑动选择值。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/rating">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/rating.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Rating"></figure>
          <div class="card-body">
            <h2 class="card-title">Rating 评分</h2>
            <p class="text-xs opacity-60">评价是一组单选按钮，用户可以对某件事进行评价。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/select">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/select.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Select"></figure>
          <div class="card-body">
            <h2 class="card-title">Select 选择器</h2>
            <p class="text-xs opacity-60">选择器用于从选项列表中选择值。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/skeleton">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/skeleton.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Skeleton"></figure>
          <div class="card-body">
            <h2 class="card-title">Skeleton 骨架屏</h2>
            <p class="text-xs opacity-60">Skeleton 是一个可以用来显示组件加载状态的组件。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/stack">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/stack.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Stack"></figure>
          <div class="card-body">
            <h2 class="card-title">Stack 堆叠</h2>
            <p class="text-xs opacity-60">堆叠使元素在视觉上有重叠的效果。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/stat">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/stat.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Stat"></figure>
          <div class="card-body">
            <h2 class="card-title">Stat 统计展示</h2>
            <p class="text-xs opacity-60">统计展示用于在方框中显示数值和数据。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/steps">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/steps.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Steps"></figure>
          <div class="card-body">
            <h2 class="card-title">Steps 步骤条</h2>
            <p class="text-xs opacity-60">你可以使用步骤条来显示流程步骤的列表。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/swap">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/swap.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Swap"></figure>
          <div class="card-body">
            <h2 class="card-title">Swap 调换</h2>
            <p class="text-xs opacity-60">使用 Swap，你可以使用复选框或类名来切换两个元素的显示。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/tab">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/tab.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Tabs"></figure>
          <div class="card-body">
            <h2 class="card-title">Tabs</h2>
            <p class="text-xs opacity-60">你可以使用选项卡，以选项卡的形式显示链接列表。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/table">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/table.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Table"></figure>
          <div class="card-body">
            <h2 class="card-title">Table 表格</h2>
            <p class="text-xs opacity-60">你可以使用表格来显示数据列表。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/textarea">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/textarea.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Textarea"></figure>
          <div class="card-body">
            <h2 class="card-title">Textarea 多行文本框</h2>
            <p class="text-xs opacity-60">多行文本框允许用户在多行中输入文本。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/theme-controller">
          <figure class="px-4 pt-4"><img loading="lazy"
              src="https://img.daisyui.com/images/components/theme-controller.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Theme Controller">
          </figure>
          <div class="card-body">
            <h2 class="card-title">Theme Controller 主题控制器</h2>
            <p class="text-xs opacity-60">如果页面中存在带有 theme-controller 类的选中复选框输入或选中的单选框输入，则页面将具有与该输入值相同的主题。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/timeline">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/timeline.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Timeline"></figure>
          <div class="card-body">
            <h2 class="card-title">Timeline 时间轴</h2>
            <p class="text-xs opacity-60">Timeline 组件按时间顺序显示事件列表。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/toast">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/toast.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Toast"></figure>
          <div class="card-body">
            <h2 class="card-title">Toast 弹框</h2>
            <p class="text-xs opacity-60">Toast 是一个用于堆叠元素的包装器，位于页面的角落。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/toggle">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/toggle.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Toggle"></figure>
          <div class="card-body">
            <h2 class="card-title">Toggle 开关</h2>
            <p class="text-xs opacity-60">开关是为了看起来像开关按钮的样式的复选框。</p>
          </div>
        </a><a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
          target="_blank" href="https://daisyui.com/components/tooltip">
          <figure class="px-4 pt-4"><img loading="lazy" src="https://img.daisyui.com/images/components/tooltip.jpg"
              class="border-base-content bg-base-300 rounded-lg border border-opacity-5" alt="Tooltip"></figure>
          <div class="card-body">
            <h2 class="card-title">Tooltip 文字提示</h2>
            <p class="text-xs opacity-60">你可以使用文字提示，当用户使用点击或者鼠标对准某个元素时显示消息。</p>
          </div>
        </a></div>
    </div>

  </div>
</div>
<!-- ========== END MAIN CONTENT ========== -->
