{% set_meta_title '如何使用Daisy UI' %}
{% set_meta_description '如果通用Baklib Wiki 构建一套基于Daisy UI 的信息系统' %}
{% set_meta_keywords 'Baklib, Daisy' %}

<div class="mx-auto max-w-7xl">
  <div class="p-6  md:flex md:space-x-12 md:px-12 md:py-12 min-h-[calc(100vh-103px)]">
    <nav class="fixed hidden h-full w-full flex-shrink-0 pb-6 md:block md:w-52 md:pb-12  overflow-scroll max-h-screen">
      <div>

        <div>
          <div class="mb-2">
            <p class="font-semibold text-primary">导航样例</p>
          </div>
          <ul>
            <li><a class="text-info block py-0.5 hover:text-secondary" href="/">Home</a></li>
            <li><a class=" block py-0.5 hover:text-secondary" href="/s/get-started" aria-current="page">Getting started</a></li>
            <li><a class="text-info block py-0.5 hover:text-secondary" href="/s/examples">Examples</a></li>
          </ul>
        </div>
        <div class="divider"></div>
        <a href="https://www.daisyui.com" rel="noopener noreferrer" target="_blank"
          class="flex items-center py-0.5 text-info hover:text-secondary">Daisy UI
          <svg
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"
            data-slot="icon" class="ml-2 h-4 w-4">
            <path fill-rule="evenodd"
              d="M15.75 2.25H21a.75.75 0 0 1 .75.75v5.25a.75.75 0 0 1-1.5 0V4.81L8.03 17.03a.75.75 0 0 1-1.06-1.06L19.19 3.75h-3.44a.75.75 0 0 1 0-1.5Zm-10.5 4.5a1.5 1.5 0 0 0-1.5 1.5v10.5a1.5 1.5 0 0 0 1.5 1.5h10.5a1.5 1.5 0 0 0 1.5-1.5V10.5a.75.75 0 0 1 1.5 0v8.25a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V8.25a3 3 0 0 1 3-3h8.25a.75.75 0 0 1 0 1.5H5.25Z"
              clip-rule="evenodd"></path>
          </svg></a>
        <a href="https://www.baklib.cn" rel="noopener noreferrer" target="_blank"
            class="flex items-center py-0.5 text-info hover:text-secondary">Baklib
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"
              data-slot="icon" class="ml-2 h-4 w-4">
              <path fill-rule="evenodd"
                d="M15.75 2.25H21a.75.75 0 0 1 .75.75v5.25a.75.75 0 0 1-1.5 0V4.81L8.03 17.03a.75.75 0 0 1-1.06-1.06L19.19 3.75h-3.44a.75.75 0 0 1 0-1.5Zm-10.5 4.5a1.5 1.5 0 0 0-1.5 1.5v10.5a1.5 1.5 0 0 0 1.5 1.5h10.5a1.5 1.5 0 0 0 1.5-1.5V10.5a.75.75 0 0 1 1.5 0v8.25a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V8.25a3 3 0 0 1 3-3h8.25a.75.75 0 0 1 0 1.5H5.25Z"
                clip-rule="evenodd"></path>
            </svg></a>
      </div>
    </nav>
    <main class="w-full md:pl-52">
      <div class="flex items-start">
        <div class="w-full max-w-[720px] lg:pr-12">
          <div class="prose prose-indigo max-w-none prose-h1:font-light prose-h1:">
            <h1>Getting started</h1>
            <h3>1. 创建站点</h3>
            <p>在Baklib工作台的【市场】中找到【Daisy Wiki】模板，创建站点。站点创建好以后，模板自动内置了 TailwindCss 和 Daisy UI。</p>
            <pre style="white-space: pre; overflow-wrap: break-word; overflow-x: auto; font-family: monospace;"><span class="text-base-200">//src/main.js</span>
import daisyui from "daisyui"</pre>
            <h3>2. 构建网站页面</h3>
            <p>打开模板编辑器，将创建的静态网页放在文件夹<code>/statics</code>下，创建的动态模板网页放在文件夹<code>/templates</code>下。</p>
            <blockquote>
              <p>关于模板开发教程请参考：<a href="https://dev.baklib.cn">Baklib 开发者中心</a>.
              </p>
            </blockquote>
            <h3>3. 后台管理内容</h3>
            <p>系统已预设了针对文档知识库的模板<code>page</code>，你只需要绑定一个<code>知识库</code>，所有内容都会同步到 wiki 站点。</p>

            <div class="divider"></div>
            <h2>什么是 Daisy UI?</h2>
            <p>DaisyUI 已成为一个功能强大的组件库，可与 Tailwind CSS 无缝协作，Tailwind CSS 是一个实用程序优先的 CSS 框架，在前端开发人员中广受欢迎。 Tailwind CSS 提供低级实用程序类，使您可以轻松构建自定义设计，而无需离开 HTML。 </p>
            <h2>什么是 Baklib?</h2>
            <p class="mt-1 text-gray-600 dark:text-neutral-400">
              Baklib 是一个基础云平台，开箱即用，通过Baklib可以帮助你省掉购买服务器、存储、带宽，配置域名，SEO，部署和运维等一系列繁琐的基础工作；
              同时，Baklib通过模板创建了网站的基本架构，你只需要把精力放在页面设计、内容添加等创意性的工作上，而不用关心更多的技术细节。
            </p>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
